<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>    
              
         <div th:replace="~{fragment :: styles}"></div>
		 <!-- Flatpickr -->
		          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
         <title>店舗詳細</title>       
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/admin/storeinfo}">店舗一覧</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                                 </ol>
                             </nav> 
                             
                             <h1 class="mb-4 text-center" th:text="${storeinfo.getStorename()}"></h1>
                             
                             <div class="d-flex justify-content-end align-items-end mb-3">                    
                                 <div>
                                     <a th:href="@{/admin/storeinfo/__${storeinfo.getId()}__/edit}">編集</a>                                    
                                 </div>
                             </div>                                                 
                             
                             <div class="mb-3">
                                 <img th:if="${storeinfo.getImageName()}" th:src="@{/images/__${storeinfo.getImageName()}__}" class="w-100" alt="店舗画像">
                                 <img th:unless="${storeinfo.getImageName()}" th:src="@{/images/noimage2.png}" class="w-100" alt="NO IMAGE">
                             </div>   
                             
                             <div class="container mb-4">
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">ID</span>          
                                     </div>                                                  
             
                                     <div class="col">
                                         <span th:text="${storeinfo.getId()}"></span>
                                     </div>
                                 </div>
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">店舗名</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${storeinfo.getStorename()}"></span>
                                     </div>
                                 </div>                    
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">説明</span>
                                     </div>
             
                                     <div class="col">
                                         <span class="nagoyameshi-pre-wrap" th:text="${storeinfo.getDescription()}"></span>
                                     </div>
                                 </div>
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">最低価格</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${#numbers.formatInteger(storeinfo.getLowerprice(), 1, 'COMMA') + '円'}"></span>
                                     </div>
                                 </div> 
                                 
								 <div class="row pb-2 mb-2 border-bottom">
								           <div class="col-4">
								              <span class="fw-bold">最高価格</span>
								            </div>
								              
								             <div class="col">
								                <span th:text="${#numbers.formatInteger(storeinfo.getMaxprice(), 1, 'COMMA') + '円'}"></span>
								             </div>
								           </div> 
																  
                                <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">開店時間</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${storeinfo.getOpening() + '時'}"></span>
                                     </div>
                                 </div>                                
                                 
								 <div class="row pb-2 mb-2 border-bottom">
								      <div class="col-4">
								        <span class="fw-bold">閉店時間</span>
								       </div>
								              
								        <div class="col">
								          <span th:text="${storeinfo.getClosed() + '時'}"></span>
								        </div>
								       </div>
								 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">郵便番号</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${storeinfo.getPostalCode()}"></span>
                                     </div>
                                 </div>   
                                 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">住所</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${storeinfo.getAddress()}"></span>
                                     </div>
                                 </div>   
                                 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">電話番号</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${storeinfo.getPhoneNumber()}"></span>
                                     </div>
                                 </div>
								 
								 <div class="row pb-2 mb-2 border-bottom">
								    <div class="col-4">
								        <span class="fw-bold">定休日</span>
								      </div>
								              
								      <div class="col">
								          <span th:text="${storeinfo.getRegularHoliday()}"></span>
								        </div>
								      </div>                                
                             </div>                                                  
                 
                         </div>
                     </div>
                 </div>             
             </main>
             
             <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div> 
		 
		 <!-- Flatpickr -->
		          <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		          <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
		          <script th:src="@{/js/flatpickr.js}"></script>        
     </body>
 </html>
