<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
  <head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>パスワードリセット</title>
  </head>
  <body>
    <div class="nagoyameshi-wrapper">
      <!--ヘッダー-->
      <div th:replace="~{fragment :: header}"></div>
      <main>
        <div class="container pt-4 pb-5 nagoyameshi-container">
          <div class="row justify-content-center">
            <!--画面の幅に応じて要素の幅を制御する-->
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
              <h1 class="mb-4 text-center">パスワード再発行</h1>
              <div th:if="${errorMessage}" class="alert alert-danger">
                <span th:text="${errorMessage}"></span>
              </div>
              <div th:if="${successMessage}" class="alert alert-info">
                <span th:text="${successMessage}"></span>
              </div>
              <p>現行パス：password</p>
              <p>新パス：password22</p>
              <!--パスワードリセットするためのメールアドレスを入力するフォーム-->
              <form th:action="@{/auth/passwordwasure}" method="post">
                <!--CSRFトークン-->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                <div class="form-group mb-3">
                  <label for="mailaddress">メールアドレス</label>
                  <input type="mailaddress" class="form-control" name="mailaddress" placeholder="メールアドレス">
                </div>
                <!--送信ボタン-->
                <div class="form-group d-flex justify-content-center my-4">
                  <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">パスワードリセット用メール発行</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <!--フッター-->
      <div th:replace="~{fragment :: footer}"></div>
    </div>
    <div th:replace="~{fragment :: scripts}"></div>
  </body>
</html>
