<!--パスワード再設定機能のビュー-->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>パスワード再発行</title>
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
<!--		ヘッダー-->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>

			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
<!--				画面の幅に応じて要素の幅を制御する-->
					<div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
					
						<h1 class="mb-4 text-center">パスワード再発行</h1>
						
						<div th:if="${errorMessage}" class="alert alert-danger">
                        	<span th:text="${errorMessage}"></span>
                        </div>      

						
						<p>現行パス：password</p>
						<p>新パス：password22</p>
						
<!--					変数paramを利用することで、URLのパラメタ参照ができる-->
<!--					URLにerrorパラメタが存在する場合にこのdiv要素を表示する-->
<!--					 ・ログイン失敗時のリダイレクト先を「https://ドメイン名/login?error」にすると、エラーメッセージが表示される-->

						<form th:action="@{/auth/passwordreset}" th:object="${PasswordResetForm}" method="post">
							
						    <input type="hidden" name="token" th:value="${token}">
						    <div class="form-group mb-3">
						        <label for="newPassword">新しいパスワード</label>
						        <input type="password" class="form-control" name="newPassword" placeholder="新しいパスワード">
						    </div>
						    <div class="form-group mb-3">
						        <label for="confirmNewPassword">新しいパスワード（確認）</label>
						        <input type="password" class="form-control" name="confirmNewPassword" placeholder="新しいパスワード（確認）">
						    </div>
						    <button type="submit">再設定</button>
						</form>
<!--						送信ボタン-->
							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" >パスワード変更</button>
							</div>
						</form>
						
					</div>
				</div>
			</div>
			</main>
			
<!--		フッター-->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>
